<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Listas</title>
</head>
<body>
    <div id="app">
        <form @submit.prevent="submit" action="" method="get">
            <h2>Cuales son tus cursos?</h2>
            <template v-for="c in cursos">
                <input v-model="cursosSeleccionados" type="checkbox" 
                v-bind:id="c.value" v-bind:value="c.value">
                <label for="c.value">{{ c.nombre }}</label>
            </template>
            <button type="submit">Enviar</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">
        let app = new Vue({
            el: '#app',
            data: {
                cursos: [
                    { nombre: 'Curso de Vue.js', alue: 'vue' },
                    { nombre: 'Curso de Android', value: 'android' },
                    { nombre: 'Curso de Firebase', value: 'firebase' }
                ],
                cursosSeleccionados: []
            },
            methods: {
                submit: function () {
                    console.log(this.cursosSeleccionados)
                }
            }
        })
    </script>
</body>
</html>